div.overview-graph {
    width: 100%;
    height: 225px;
}

div.focused-graph {
    width: 100%;
    height: 450px;
}

div.progress {
    width: 100%;
    cursor: pointer;
    text-align: right;
    color: black;
}
