Source: jmxproxy
Section: java
Priority: extra
Maintainer: Max Kalika <max.kalika+projects@gmail.com>
Build-Depends: debhelper (>= 7), java-compiler, java8-sdk, maven, libxml-xpath-perl
Standards-Version: 3.9.5

Package: jmxproxy
Architecture: all
Depends: java8-runtime
Description: JMX to HTTP proxy.
 JMXProxy exposes all available MBean attributes on a given JVM via
 simple HTTP request.
