Source: jmxproxy
Section: java
Priority: extra
Maintainer: Max Kalika <max@topsy.com>
Build-Depends: debhelper (>= 7), maven2
Standards-Version: 3.8.3

Package: jmxproxy
Architecture: any
Depends: java-runtime
Description: Topsy jmxproxy
 Topsy jmxproxy
