#jmxproxy:
#    # how often (in minutes) for the cleaner thread to
#    # wake up to purge unaccessed hosts
#    clean_interval: 1
#
#    # how long to keep unaccessed hosts before purging
#    # by the cleaner thread
#    access_duration: 5
#
#    # how long to cache JMX attribute values before
#    # reconnecting to the agent and pulling new data
#    cache_duration: 5
#
#    # white list of allowed endpoints in host:port
#    # format for this agent to connect to, defaulting
#    # to allowing all when empty or missing
#    allowed_endpoints:
#        - 'localhost:1123'
#        - 'host1:1234'
#        - 'host1:4321'
#        - 'host2:5678'
#
#server:
#    # use simple server and configure application and
#    # admin ports (may be same, if desired)
#    type: simple
#    port: 8000
#    adminPort: 8001
#
#logging:
#    # default logging set to INFO level
#    level: INFO
#
#    # set jmxproxy classes to log at DEBUG level
#    loggers:
#        "com.topsy.jmxproxy": DEBUG
#
#    # configure syslog host and facility
#    # the local syslog server will need listen on an inet socket
#    appenders:
#      - type: syslog
#        host: localhost
#        facility: local0
