#jmxproxy:
#    # how often for the cleaner thread to
#    # wake up to purge unaccessed hosts
#    # Time units: ns, us, ms, s, m, h, d
#    clean_interval: 1m
#
#    # how long to keep unaccessed hosts before purging
#    # by the cleaner thread
#    access_duration: 5m
#
#    # how long to cache JMX attribute values before
#    # reconnecting to the agent and pulling new data
#    cache_duration: 5m
#
#    # how long to wait on a new JMX connection before
#    # giving up with a not found error to the client
#    connect_timeout: 3s
#
#    # white list of allowed endpoints in host or host:port
#    # format for this agent to connect to, defaulting
#    # to allowing all when empty or missing
#    allowed_endpoints:
#        - 'localhost'
#        - 'host1:1234'
#        - 'host1:4321'
#        - 'host2:5678'
#
#    # maximum number of historical attribute values to
#    # retain and provide when the history query parameter
#    # is specified to the attribute request call
#    history_size: 1
#
#server:
#    # simple server example where application and admin
#    # servlets listen on the same port.
#    # NOTE: it is important to override the application
#    # context path here or all requests will have to be
#    # prefixed with "/application" in the URI.
#    type: simple
#    applicationContextPath: /
#    connector:
#        type: http
#        port: 8000
#
#    # use default server if application and admin servlets
#    # need to be separated on to different ports
#    type: default
#    applicationConnectors:
#        type: http
#        port: 8000
#    adminConnectors:
#        type: http
#        port: 8001
#
#logging:
#    # default logging set to INFO level
#    level: INFO
#
#    # set jmxproxy classes to log at DEBUG level
#    loggers:
#        "com.github.mk23.jmxproxy": DEBUG
#
#    # configure syslog host and facility
#    # the local syslog server will need listen on an inet socket
#    appenders:
#      - type: syslog
#        host: localhost
#        facility: local0
