#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

VERSION=$(shell xpath -q -e '/project/version/text()' pom.xml)
M2_REPO=$(CURDIR)/.m2

export MAVEN_OPTS=-Duser.home=$(HOME) -Dmaven.repo.local=$(M2_REPO)

%:
	dh $@

override_dh_auto_configure:
	[ -d $(M2_REPO) ] || mkdir $(M2_REPO)

override_dh_auto_build:
	mvn -B package

override_dh_link:
	dh_link usr/lib/jmxproxy-$(VERSION).jar usr/lib/jmxproxy.jar

override_dh_auto_clean:
	mvn -B clean
